body {
  background-color: grey;
}

.navTextColor{
  color: white;
}

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
    color: White; 
} 

.navbar-custom {
  background-color: slategrey;
}

.AboutTitle{
  margin-top: 2%;
  margin-bottom: 30px;
  border-bottom: 2px black solid;
}

.indexImg {
  width: 100%;
  height: auto;
}

.AboutText {
  text-align: justify;
}

.Phone{
  color: blue;
}

.Email {
  text-decoration: underline;
}

.socialMediaCard{
  margin-top: 20px;
}

.aboutCard{
  margin-top: 30px;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: slategrey;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.Cardbackground {
  background-color: lightsteelblue;
}

.portfolioCard {
  background-color: darkgrey;
}

.contactform {
  margin: 8% auto;
  width: 70%;
}